/* Estilos sencillos y manuales */
        body {
            font-family: sans-serif;
            background-color: #f4f4f4;
            /* Gris clarito */
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #ff6600;
            /* Naranja Goku */
            color: white;
            text-align: center;
            padding: 20px;
        }

        nav {
            background-color: #003366;
            /* Azul oscuro */
            padding: 10px;
            text-align: center;
        }

        nav a {
            color: white;
            text-decoration: none;
            margin: 0 10px;
            font-weight: bold;
        }

        .container {
            width: 80%;
            margin: auto;
            background-color: white;
            padding: 20px;
            border: 2px solid #ccc;
        }

        h2 {
            color: #ff6600;
            border-bottom: 2px solid #333;
        }

        /* Estilo de la tabla */
        table {
            width: 100%;
            border-collapse: collapse;
        }

        table,
        th,
        td {
            border: 1px solid black;
        }

        th {
            background-color: #ffcc00;
            /* Amarillo */
            padding: 8px;
        }

        td {
            padding: 8px;
        }

        footer {
            text-align: center;
            padding: 15px;
            font-size: 12px;
        }