/* style.css */

h1 {
    color: rgb(138, 3, 3);
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* Selector de etiqueta: Pinta el fondo de TODO el <main> */
main {
    background-color: #aa0505;
    padding: 20px;
}

/* Selector de clase: Solo afecta al párrafo con class="texto-destacado" */
.texto-destacado {
    color: #ff5722;
    font-weight: bold;
}

/* Selector de ID: Solo afecta a la barra de navegación con id="menu-principal" */
#menu-principal {
    background-color: #333;
    padding: 10px;
